

/* Garantir que o body ocupe toda a tela e tenha um fundo limpo */
body {
  font-family: 'Arial', sans-serif; /* Definir uma fonte padrão */
  background-color: #f7f7f7; /* Cor de fundo padrão */
    margin: 0;
  padding: 0;
    box-sizing: border-box; 
}
